[submodule "SQLComplete.vim"]
	path = SQLComplete.vim
	url = git://github.com/vim-scripts/SQLComplete.vim.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim-exjumplist"]
	path = vim-exjumplist
	url = git://github.com/kana/vim-exjumplist.git
[submodule "vim-ruby-refactoring"]
	path = vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim-textobj-function-javascript"]
	path = vim-textobj-function-javascript
	url = git://github.com/thinca/vim-textobj-function-javascript.git
[submodule "vim-textobj-function"]
	path = vim-textobj-function
	url = git://github.com/kana/vim-textobj-function.git
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "auto_complpop"]
	path = auto_complpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vim_multiple_cursors"]
	path = vim_multiple_cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "proton"]
	path = proton
	url = https://github.com/vim-scripts/proton
[submodule "vim-node"]
	path = vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-node-dict"]
	path = vim-node-dict
	url = https://github.com/guileen/vim-node-dict.git
[submodule "vim-javascript-syntax"]
	path = vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
